html body {
	background-color: #111d29;
}

html body a {
	color: #b1d237 !important;
}

#SIvCob, .Wt5Tfe, .q8U8x, .zz3gNc, .yDYNvb.lyLwlc, .GI74Re, .Uroaid, .GmE3X, .spell_orig, .gL9Hy {
	color: #fff !important;
}

#SIvCob a, .ynAwRc, .iv236, .fqgGwb {
	color: #b1d237 !important;
}

.appbar, .yg51vc, .sfbg, .Ww4FFb, .f6F9Be, .jZWadf, .s8GCU, .Lj9fsd, .XKnPEd  {
	background-color: #111d29 !important;
}

.U8shWc.Vy8nid, .gb_8d {
	background-color: #fff !important;
}

.YsGUOb {
	background-color: white;
	border-radius: 10%;
}

cite, .YyVfkd {
	color: #b1d237 !important;
}

.KwU3F, .xSQxL, .iKt1P {
	color: rgb(112,117,122) !important;
}

.minidiv #logo img {
	height: 60px !important;
	width: 60px !important;
}